.carpediempensionleft-container {
  width: 47.5rem;
  margin: auto;
}

.carpediempensionleft-description {
  line-height: 1.688rem;
  font-size: 1.125rem;
  color: #00000a;
  font-weight: 400;
}

.carpediem-flexible-container {
}

.carpediem-title {
  font-size: 2.125rem;
  line-height: 2.656rem;
  color: #00000a;
}

.carpediem-flexible-img {
  width: 47.375rem;
  height: 23.313rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.carpediem-challenge-img {
  height: 23.125rem;
  width: 40rem;
  margin: 1rem 0;
}

.carpediem-journey-subtitle {
  line-height: 1.688rem;
  font-size: 1.5rem;
  color: #00000a;
}

.carpediem-journey-list {
  line-height: 1.688rem;
  font-size: 1.125rem;
  color: #00000a;
  font-weight: 400;
  margin: 0.6rem 0;
}

.carpediem-journey-sublist {
  line-height: 1.688rem;
  font-size: 1.125rem;
  color: #00000a;
  font-weight: 400;
  margin: 0.6rem 0;
}

.carpediem-journey-sublist span {
  line-height: 1.688rem;
  font-size: 1.125rem;
  color: #00000a;
  font-weight: 500;
  margin: 0.6rem 0;
  font-style: italic;
}

.carpediem-strategy-subtitle {
  line-height: 1.688rem;
  font-size: 1.125rem;
  color: #00000a;
  font-weight: 600;
  margin: 0.6rem 0;
}

.carpediem-strategy-list {
  list-style-type: lower-alpha;
  line-height: 1.688rem;
  font-size: 1.125rem;
  color: #00000a;
  font-weight: 400;
  margin: 0.6rem 0;
}

.carpediem-impact-x-title {
  line-height: 1.688rem;
  font-size: 1.125rem;
  color: #00000a;
  font-weight: 600;
}

.carpediem-impact-x-link {
  line-height: 1.688rem;
  font-size: 1.125rem;
  color: #00000a;
  font-weight: 400;
  color: blue;
  margin: 0.6rem 0;
}

.carpediem-impact-x-link:hover {
  color: red;
}

.carpediem-impact-x-link:active {
  color: green;
}

.carpediem-impact-x-link:visited {
  color: purple;
}

@media screen and (max-width: 1200px) {
  .carpediempensionleft-container {
    width: 47.5rem;
    margin: 5rem auto auto auto;
    
  }
}

@media screen and (max-width: 768px) {
  .carpediem-flexible-img {
    width: 90%;
    /* height: 23.313rem; */
    /* border-radius: 0.5rem; */
    margin-left: 5%;
  }
  .carpediem-challenge-img {
    /* height: 23.125rem; */
    width: 90%;

    /* width: 40rem; */
    margin-left: 5%;
    margin-top: 1rem;
  }
  /* added line  */
  /* .carpediempensionleft-description {
    font-size: 1rem;
    line-height: 1.5;
  }

  .carpediem-title {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .carpediem-journey-subtitle {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .carpediem-journey-list,
  .carpediem-journey-sublist,
  .carpediem-strategy-subtitle,
  .carpediem-strategy-list,
  .carpediem-impact-x-title,
  .carpediem-impact-x-link {
    font-size: 1rem;
    line-height: 1.5;
  } */
  .carpediempensionleft-container {
    width: auto;
    margin: 5rem 1rem auto 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

}

@media screen and (max-width: 500px) {
  .carpediempensionleft-container {
    width: 20rem;
    /* margin: 5rem 1rem auto 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    margin: auto;
  }
  .carpediem-impact-container{
    width: 20rem;

  }
  .carpediem-impact-x-title {
    font-size: 14px;
    width: 18rem; /* Adjust font size */
    
  }

  .carpediem-impact-x-link {
    font-size: 10px; /* Adjust font size */
    display: block; /* Display link as block to break into a new line */
    margin-top: 5px; /* Add some space between the title and the link */
    text-align: justify;
  }
}
