.footer-container {
  background: linear-gradient(
    90deg,
    #112056,
    #0f1e53,
    #0e1c50,
    #0c1a4d,
    #0b184a,
    #091647,
    #071444,
    #061241
  );
  height: 60rem;
  padding: 1rem 3rem;
}

.footer-logo-container {
  width: 18.375rem;
  margin-top: 1rem;
}

.quillauditslogo {
  width: 18.375rem;
  height: 3.625rem;
}

.footer-logo-description {
  margin: 0;
  padding: 0;
  color: #eaeaea;
  margin-left: 3rem;
  margin-top: -0.7rem;
  font-weight: 400;
  font-size: 16.17px;
  line-height: 23.37px;
  text-align: right;
}

.footer-details-container {
  display: flex;
  flex-direction: row;
  /* margin-top: 3rem; */
  margin: 3rem 4rem;
}

.footer-left-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-left-about-title {
  font-size: 20.79px;
  font-weight: 500;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #2d83ee;
  width: 170px;
}

.footer-left-about-details-container {
  margin-top: 1rem;
}
.footer-left-about-details-container p {
  margin: 0;
  padding: 0;
  color: #f1f1f1;
  font-size: 16.17px;
  font-weight: 500;
  line-height: 23.37px;
  margin: 0.5rem auto;
}

.footer-left-about-contactus-container {
  margin-top: 2rem;
}

.footer-left-about-contactus-title {
  font-size: 18.48px;
  line-height: 26.7px;
  font-weight: 500;
  color: #f1f1f1;
  margin: 0;
  padding: 0;
}

.footer-left-about-contactus-mail-container {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  align-items: end;
}

.footer-left-about-contactus-mail-icon {
  width: 23.1px;
  height: 16.17px;
  color: #dddddd;
}

.footer-left-about-contactus-mail {
  margin: 0;
  padding: 0;
  color: #f1f1f1;
  letter-spacing: 5%;
  font-style: italic;
  text-decoration: underline;
}

.footer-left-about-location-container {
  margin-top: 2rem;
}
.footer-left-about-location-top-container {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  align-items: center;
}

.footer-left-about-location-top-title {
  font-size: 18.48px;
  line-height: 26.7px;
  font-weight: 500;
  color: #f1f1f1;
  margin: 0;
  padding: 0;
  margin-left: 8px;
}

.footer-left-about-location-icon {
  height: 20.79px;
  width: 16.17px;
  color: #dddddd;
}

.footer-left-about-location-details-container {
  margin-top: 1rem;
}

.footer-left-about-location-description {
  font-size: 18.48px;
  line-height: 26.7px;
  font-weight: 400;
  color: #f1f1f1;
  margin: 0;
}

.footer-left-audit-services-title {
  font-size: 20.79px;
  font-weight: 500;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #2d83ee;
  width: 140px;
}

.footer-left-audit-services-container {
  margin-left: 5rem;
}

.footer-left-audit-services-details-container {
  margin-top: 1rem;
}

.footer-left-audit-services-description-container {
  line-height: 23.37px;
  font-weight: 500;
  font-size: 16.17px;
  color: #f1f1f1;
  margin: 0;
  padding: 0;
  margin-top: 0.7rem;
}

.footer-right-container {
  display: flex;
  flex-direction: column;
}

.footer-right-top-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-right-ecosystem-title {
  font-size: 20.79px;
  font-weight: 500;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #2d83ee;
  width: 150px;
  /* margin-left: 3rem; */
}

.footer-right-top-ecosystem-container {
  margin-left: 5rem;
}

.footer-right-other-services-container {
  margin-left: 5rem;
}

.footer-other-services-title {
  font-size: 20.79px;
  font-weight: 500;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #2d83ee;
  width: 140px;
}

.footer-right-quick-links-container {
  margin-left: 5rem;
}
.footer-other-quick-links-title {
  font-size: 20.79px;
  font-weight: 500;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #2d83ee;
  width: 140px;
}

.footer-left-quick-links-span {
  line-height: 20.03px;
  font-size: 13.86px;
  font-weight: 500;
  color: #fff;
  background-color: #2d83ee;
  padding: 4px;
  border-radius: 4.62px;
}

.footer-icon-img-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 4rem 0 4rem;
  align-items: center;
  flex-wrap: wrap;
}

.defi-member-img{
  width: 12.5rem;
  height: 3.75rem;
}

.telangana-govt-img{
  width: 12.5rem;
  height: 3.75rem;
  margin-left: 3rem;
}

.footer-icon{
  color: #DDDDDD;
  width: 23.1px;
  height: 23.1px;
  padding-left: 2.4rem;
}

.footer-copyright-privacy-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 4rem;
  border-top: 2.31px solid #FFFFFF;
  margin-top: 4rem;
}

.footer-copyright-text{
  font-size: 13.86px;
  line-height: 20.03px;
  font-weight: 400;
  color: #FFFFFF;
}

@media screen and (max-width: 1570px) {
  .footer-container {
    background: linear-gradient(
      90deg,
      #112056,
      #0f1e53,
      #0e1c50,
      #0c1a4d,
      #0b184a,
      #091647,
      #071444,
      #061241
    );
    height: auto;
    padding: 1rem auto;
  }

  .footer-left-audit-services-container {
    margin-left: 0;
    /* margin-top: 1rem; */
  }
}

@media screen and (max-width: 1488px) {
  .footer-left-audit-services-container {
    margin-left: 0;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 996px) {
  .footer-right-other-services-container {
    /* margin-left: 0; */
    margin-top: 1rem;
  }

  .footer-right-quick-links-container {
    /* margin-left: 5rem; */
    margin-top: 1rem;

  }
  .footer-right-bottom-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width:1103px) {
  .footer-icon-container{
    margin-top: 1rem;
  }
  
  .footer-icon-img-container{
    justify-content: center;
    align-items: center;
  }
  
}
@media screen and (max-width:667px) {
  .defi-member-img{
    width: 12.5rem;
    height: 3.75rem;
  }
  
  .telangana-govt-img{
    width: 12.5rem;
    height: 3.75rem;
    margin-left: 0;
  }
  .footer-img-container{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-details-container {
    display: flex;
    flex-direction: column;
    /* margin-top: 3rem; */
    margin: 3rem 4rem;
  }
  .footer-left-container {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    justify-content: center;
    align-items: left;
  }
.footer-right-top-container {
  justify-content: center;
  align-items: left;
  flex-wrap: nowrap;
  flex-direction: column;
}
.footer-right-top-ecosystem-container,
.footer-right-other-services-container,
.footer-right-quick-links-container {
  justify-content: center!important;
  align-items: left;
}
}